<!DOCTYPE html> {% load staticfiles %}
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#008080" />

    <title>Voted! | 2018 YTU Voting</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap.min.css' %}" />
    <link rel="shortcut icon" type="image/jpeg" href="{% static 'images/logo.jpg' %}">

    <script type="text/javascript" src="{% static 'action/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'action/bootstrap.min.js' %}"></script>

</head>

<body>
    <div class="container">

        <div class="row">
            <div id="topBar" class="col-md-12 fullWidth">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br><br>
                <h1 class="text-center display-4 text-primary">Successfully Voted!</h1>
                <br>
                <br>
                <div class="text-center">
                    <a href="/votenow/" class="btn btn-primary">Done</a>
                </div>
                <br><br>
                <p class="lead text-center">This page will be redirected in <span id="sec">5</span>s...</p>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        var sec = 4;
        setInterval(function() {
            $("#sec").html(sec + "");
            sec -= 1;
        }, 1000);

        setTimeout(function() {
            window.location.href = "/votenow/";
        }, 6000);
    </script>

</body>

</html>