.text {
    color: #00a0f0;
}

.centerAlign {
    text-align: center;
}

.fullWidth {
    width: 100%;
}

#topBar {
    height: 5px;
    background-color: #00b0c0;
}

#mainTitle {
    transition-property: font-size;
    transition-duration: 300ms;
    transition-delay: 200ms;
    cursor: default;
}

#mainTitle:HOVER {
    font-size: 2.1em;
}